<!DOCTYPE html>
<html>
  <head>
    <title>GourceTV - gource visualization service</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-resource.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div id="container" ng-app="gource_tv">
      <%= render(partial: 'layouts/header') %>
      <%= render(partial: 'layouts/repositories') %>
      <%= render(partial: 'layouts/repository') %>
    </div>
    <%= render(partial: 'layouts/javascript_includes') %>
  </body>
</html>
